@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.main__container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #dfe6e9;
}

.form__container {
  width: 50%;
  min-height: 66%;
}

.form {
  border: 2px solid #485460;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 8px;
}

.label {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
}

select {
  height: 3rem;
  width: 12rem;
  border-radius: 4px;
  border: none;
}

.form__input__field {
  width: 100%;
  height: 4rem;
  border-radius: 4px;
  border: none;
  outline: none;
  padding-left: 0.8rem;
  font-size: 1.4rem;
}

input[type="checkbox"] {
  margin-right: 4px;
}

.btn {
  width: 50%;
  height: 4rem;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #6c5ce7;
  color: #fff;
  cursor: pointer;
  margin: auto;
  margin-top: 1.6rem;
}

@media screen and (max-width: 600px) {
  .form__container {
    width: 75%;
  }
}

